@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
    font-family: 'Work Sans', sans-serif; /* Using Work Sans */
    font-weight: 300; /* Light font weight */
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Light cyan background */
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
